.weather-wrap {
    background-color: #B2CEE9;
    min-height: 370px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
    padding: 10px;
}

.current-weather-wrap {
    padding-top: 20px;
}

.weather-wrap .city-name {
    padding-top: 40px;
}

.current-weather .temperature-area {
    width: 290px;
    height: 123px;
    float: left;
}

.current-weather .weather-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    vertical-align: top;
}

.current-weather .weather-text {
    display: inline-block;
}

.current-weather .temperature {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -8px;
    font-family: 'DIN-Medium', sans-serif;
    height: 80px;
}

.current-weather .temperature span {
    font-size: 22px;
    position: relative;
    bottom: 40px;
    left: 15px;
    letter-spacing: 0;
    font-family: 'DIN-Regular', sans-serif;
}

.detailed-reports .detailed-metrics {
    float: left;
    width: 464px;
    padding-top: 30px;
    border-bottom: 1px solid #ddd;
}

.detailed-reports .detailed-metrics div {
    float: left;
    height: 45px;
    line-height: 1;
    position: relative;
    text-align: center;
    width: 25%;
}

.detailed-reports span {
    width: 50px;
    font-family: 'DIN-Bold', sans-serif;
    font-size: 14px;
    color: #185E94;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.detailed-reports .detailed-metrics em {
    display: block;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.detailed-reports .detailed-metrics p.metric {
    color: #333;
    text-align: center;
    font-size: 9px;
    font-weight: normal;
    font-family: 'DIN-Bold', sans-serif;
}

.forecast-weather ul > li {
    height: 70px;
}

.forecast-weather ul > li div {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.forecast-weather .forecast-icon {
    float: right;
}

.forecast-weather .forecast-temperature {
    float: right;
    font-size: 22px;
    margin-left: 15px;
    width: 60px;
    text-align: right;
}

.forecast-weather .forecast-date {
    font-size: 14px;
    font-weight: bold;
}

.forecast-weather .forecast-time {
    margin-left: 15px;
    margin-right: 25px;
}