<nav class="navbar nav-pills">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personal Temperature Tracker</a>
        </div>
        <navbar></navbar>
    </div>
</nav>
<div class="row-fluid">
    <div class="col-xs-offset-1"><h2>Weather</h2></div>


    <div class=" col-sm-10 col-md-8  col-sm-offset-1 col-md-offset-2 ">
        <div class="row weather-wrap">
            <section class="col-sm-4">
                <ul class="nav nav-tabs">
                    <li ng-class="tab=='cities' ? 'active' :''" ng-click="changeTab('cities')"><a>My cities</a></li>
                    <li ng-class="tab=='search' ? 'active' :''" ng-click="changeTab('search')"><a>Search</a></li>
                </ul>
                <br>
                <ul class="list-group" ng-show="tab=='cities'">
                    <li class="list-group-item" ng-repeat="city in cities" ng-click="select(city)">
                        <div>{{city.name}}, {{city.country}}</div>
                    </li>
                </ul>
                <div ng-show="tab=='search'">
                    <form class="form-inline" name="searchCityForm">
                        <div class="form-group">
                            <label for="city">City name</label>
                            <input type="text" class="form-control" autocomplete="off" ng-model="searchCity"
                                   ng-change="findCity()" id="city"
                                   placeholder="London,UK">
                        </div>
                    </form>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="city in searchResult.cities" ng-click="addCity(city)"
                            ng-show="!isAFollowedCity(city)">
                            <div>{{city.name}}, {{city.country}}</div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="col-sm-8" ng-if="selectedCityInfo">
                <h4 class="city-name">{{selectedCityInfo.city.name}}, {{selectedCityInfo.city.country}} </h4>
                <ul class="nav nav-tabs">
                    <li ng-class="weather=='current' ? 'active' :''" ng-click="changeWeather('current')"><a>Current
                        weather</a></li>
                    <li ng-class="weather=='forecast' ? 'active' :''" ng-click="changeWeather('forecast')"><a>5 next
                        days </a></li>
                </ul>
                <div ng-show="weather=='current'">
                    <div class="current-weather clearfix">
                        <div class="current-weather-wrap">
                            <div class="temperature-area clearfix">
                                <div>
                                    <div class="weather-icon">
                                        <p>
                                            <img width="100" height="100"
                                                 ng-src="http://openweathermap.org/img/w/{{selectedCityInfo.infos.current.icon}}.png"
                                                 alt="{{selectedCityInfo.infos.current.description}}">
                                        </p>
                                    </div>
                                    <div class="weather-text">
                                        <p class="temperature">
                                            {{selectedCityInfo.infos.current.temp}}<span>°C</span>
                                        </p>

                                        <p class="condition">{{selectedCityInfo.infos.current.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detailed-reports clearfix">
                        <div class="detailed-metrics clearfix">
                            <div class="wind first">
                                <p class="metric">Vents</p>
                                <span>{{selectedCityInfo.infos.current.wind}}<em>km/h</em></span>
                            </div>
                            <div class="humidity">
                                <p class="metric">Humidité</p>
                                <span>{{selectedCityInfo.infos.current.humidity}}%</span>
                            </div>
                            <div class="pressure">
                                <p class="metric">Pression</p>
                                <span>{{selectedCityInfo.infos.current.pressure}}<em>Pa</em></span>
                            </div>
                            <p class="metric">Précipitation</p>

                            <div class="rain">
                                <span>{{selectedCityInfo.infos.current.precipitation}}<em>mm</em></span>
                            </div>

                        </div>
                    </div>
                    <div class="remove-info"><a ng-click="removeCity(selectedCityInfo.city)">remove city</a></div>
                </div>
                <div ng-show="weather=='forecast'">
                    <div class="forecast-weather clearfix">
                        <div class="forecast-weather-wrap">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="forecast in selectedCityInfo.infos.forecast">
                                    <div class="forecast-date">{{getDate(forecast.date)}}</div>
                                    <div class="forecast-time"> {{getTime(forecast.date)}}h</div>
                                    <div class="forecast-description">{{forecast.description}}</div>
                                    <div class="forecast-temperature">{{forecast.temp}} <span>°C</span></div>
                                    <div class="forecast-icon"><img ng-src="http://openweathermap.org/img/w/{{forecast.icon}}.png"
                                              alt="{{forecast.description}}"></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

