<nav class="navbar nav-pills">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personal Temperature Tracker</a>
        </div>
        <navbar></navbar>
    </div>
</nav>
<div class="row-fluid">
    <div class="col-xs-offset-1"><h2>Weather</h2></div>


    <div class=" col-sm-10 col-md-8  col-sm-offset-1 col-md-offset-2 ">
        <div class="row">
            <section class="col-sm-4">
                <ul class="nav nav-tabs">
                    <li ng-class="tab=='cities' ? 'active' :''" ng-click="changeTab('cities')"><a>My cities</a></li>
                    <li ng-class="tab=='search' ? 'active' :''" ng-click="changeTab('search')"><a>Search</a></li>
                </ul>
                <br>
                <ul class="list-group" ng-show="tab=='cities'">
                    <li class="list-group-item" ng-repeat="city in cities" ng-click="select(city)">
                        <div>{{city.name}}, {{city.country}}</div>
                    </li>
                </ul>
                <div ng-show="tab=='search'">
                    <form class="form-inline" name="searchCityForm">
                        <div class="form-group">
                            <label for="city">City name</label>
                            <input type="text" class="form-control" autocomplete="off" ng-model="searchCity"
                                   ng-change="findCity()" id="city"
                                   placeholder="London,UK">
                        </div>
                    </form>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="city in searchResult.cities" ng-click="addCity(city)"
                            ng-show="!isAFollowedCity(city)">
                            <div>{{city.name}}, {{city.country}}</div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="col-sm-8" >
                <h4>{{selectedCityInfo.city.name}}, {{selectedCityInfo.city.country}} </h4>
                <ul class="nav nav-tabs">
                    <li><a>4 last days</a></li>
                    <li class="active"><a>Current weather</a></li>
                    <li><a>5 next days</a></li>
                </ul>
                <div>
                    <div class="current-weather clearfix">
                        <div class="current-weather-wrap">
                            <div class="temperature-area clearfix">
                                <p class="condition">{{selectedCityInfo.infos.current.weather[0].description}}</p>

                                <div>
                                    <div class="weather-icon">
                                        <p>
                                            <img ng-src="http://openweathermap.org/img/w/{{selectedCityInfo.infos.current.weather[0].icon}}.png"
                                                 alt="{{selectedCityInfo.infos.current.weather[0].description}}">
                                        </p>
                                    </div>
                                    <div>
                                        <p class="temperature">
                                            {{Math.round(selectedCityInfo.infos.current.main.temp)}}<span>°C</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detailed-reports clearfix">
                        <div class="detailed-metrics clearfix"><!--googleoff: all-->
                            <div class="wind first">
                                <span>{{selectedCityInfo.infos.current.wind.speed}}<em>km/h</em></span>

                                <p class="metric">Vents</p>
                            </div>
                            <div class="humidity"><span>{{selectedCityInfo.infos.current.main.humidity}}%</span>

                                <p class="metric">Humidité</p>
                            </div>
                            <div class="pressure">
                                <span>{{selectedCityInfo.infos.current.main.pressure}}<em>Pa</em></span>

                                <p class="metric">Pression</p>
                            </div>
                            <div class="rain"><span>{{selectedCityInfo.infos.current.rain['3h']}}<em>mm/3h</em></span>

                                <p class="metric">Précipitation</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

