<div class="home">
    <div class="jumbotron centered">
        <h1>Personal Temperature Tracker</h1>
        <navbar></navbar>
    </div>
</div>
<form class="form-inline" name="modifyEmailForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input ng-focus="initResult()" type="email" class="form-control" required available user="me" validate-email
               ng-model="modifiedUser.email"
               placeholder="Email">
        <span class="error" ng-show="modifyEmailForm.$error.available">This email already exists</span>
        <span class="error" ng-show="modifyEmailForm.$error.email">Invalid email</span>
    </div>
    <button ng-disabled="!modifyEmailForm.$valid" class="btn btn-default" ng-click="modifyEmail()">Change email</button>
</form>
<form class="form-inline" name="modifyPassworForm">
    <div class="form-group">
        <label for="password">Password</label>
        <input ng-focus="initResult()" type="password" class="form-control" required ng-model="modifiedUser.password"
               ng-minlength="4" ng-maxlength="16" placeholder="Password">
        <span class="error" ng-show="modifyPassworForm.$error.minlength || modifyPassworForm.$error.maxlength">Password should have between 4 and 16 characters</span>
    </div>
    <button ng-disabled="!modifyPassworForm.$valid" class="btn btn-default" ng-click="modifyPassword()">
        Change password
    </button>
</form>
<div ng-show="result.success">Your modifications was applied</div>
<div ng-show="result.error">Something was wrong. Please check your modifications</div>